<div id="login-box">
  <mat-card id="login" class="login">
    <h1>Login</h1>
    <mat-form-field>
      <input matInput id="uname_login" [(ngModel)]="user.username" type="text" placeholder="Username" name="username" required="" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="pass_login" [(ngModel)]="user.password" type="password" placeholder="Password" name="password" required="" autocomplete="off">
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit" (click)="login()">Login</button>
    <p>Need an account?</p>
    <button color="primary" mat-raised-button type="submit" onclick="
    document.getElementById('create').setAttribute('style', 'display: grid');
    document.getElementById('login').setAttribute('style','display: none');
    ">Create Account</button>

  </mat-card>

  <mat-card id="create" class="create_account">
    <h1>Create Account</h1>
    <mat-form-field>
        <input matInput id="uname_create" [(ngModel)]="user.username" type="text" placeholder="Username" name="username" required="" autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <input matInput id="pass_create" [(ngModel)]="user.password" type="password" placeholder="Password" name="password" required="" autocomplete="off">
      </mat-form-field>
    <button color="primary" mat-raised-button type="submit" (click)="create_account()">Create Account</button>
    <p>Already have an accout?</p>
    <button color="primary" mat-raised-button type="submit" onclick="
    document.getElementById('create').setAttribute('style', 'display: none');
    document.getElementById('login').setAttribute('style','display: grid');
    ">Go to Login</button>

  </mat-card>

</div>
