<div *ngIf="!user.signedIn; else game">
  <app-login-box [user]="user"></app-login-box>
</div>

<ng-template #game>
  <div class="main-body">
    <app-header [mobileQuery]="mobileQuery" [sidenav]="sidenav" [user]="user"></app-header>
    <div class="main">
      <mat-sidenav-container [hasBackdrop]="mobileQuery.matches" style="position: fixed; height: 100%;">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="opened || !mobileQuery.matches">
          <app-left-menu [selectedPiece]="selectedPiece" [game]="game"></app-left-menu>
        </mat-sidenav>
        <mat-sidenav-content>
          <app-board [mobileQuery]="mobileQuery" [game]="game" [selectedPiece]="selectedPiece"></app-board>
        </mat-sidenav-content>

      </mat-sidenav-container>
    </div>
  </div>

</ng-template>
